<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<!-- <div id="header" class="row col-md-12">
    <div class="col-md-4"><h1>Sssssnek...</h1></div>
</div> -->
<div id="navbar"><a href="/">lokkbox</a></div>
<div class="content col-md-6 col-md-offset-3">
    <center>
    <p>
        lokkbox was made with <img src="http://i.imgur.com/ksFpz4b.png" width="15"/> by <a href="#">Patrick Bullion</a>, <a href="#">Marvin Martinez</a>, and <a href="http://nedraloves.me">Nedra Mevoli</a>
    </p>
      <canvas id="canvas">
      </center>
</div>
<!-- <div id="instructions" class="content-row col-md-6 col-md-offset-3">
    <p class="col-md-6 col-md-offset-4">
        Move Snek with the <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
 keys, <br>W A S D,
 <br>or H J K L (if you're into that sort of thing).
 <br>
Feed snake to grow and increase speed.</p> -->
<!-- </div> -->
<script type="text/javascript" src="../javascript/snek.js"></script>
</body>
</html>
