
<div id="site-wrap">
        <br>
        <header>
        <h1>Your Latest Uploads</h1></header>
        <div id="collections">
            <div class="content-row col-md-12">
                {{# if images.length}}
                {{# each images}}
                <div class="col-md-4">
                    <a href="#"><img src={{this.path}} width="400"></a>
                    <br>
                    <div class="img-info">{{users.f_name}} posted a new photo</div>
                </div>
                {{/each}}
                {{/if}}
            </div>
        </div>
</div>
