<div id="site-wrap">
    <header>
        <h1>Upload a File</h1>
    </header>
    <div class="alert alert-success alert-dismissable col-sm-4 col-sm-offset-4"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            <ul id="messages-list">
                <li id="alert"></li>
            </ul>
        </div>
    <br />
    <div id="uploader" class="content col-sm-6 col-sm-offset-2">
        <form method="post" enctype="multipart/form-data">
            <label>Type:*</label>
            <label for="type-1">
                <input type="radio" checked="checked" value="1" id="type-1" name="type"> Image
            </label>
            <label for="type-2">
                <input type="radio" value="2" id="type-2" name="type"> Video
            </label>
            <br />
            <label class="itemdetailfloatL required" for="file">File:*</label>
            <input type="hidden" id="MAX_FILE_SIZE" value="8388608" name="MAX_FILE_SIZE">
            <input type="file" tabindex="5" class="text-size text" id="file" name="upl">
            <br/>
            <input type="submit" value="Upload File" id="submit" name="submit">
        </form>
    </div>
    <div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
<script src="../javascript/upload.js"></script>
<script type="text/javascript">
$( document ).ready(function() {
    console.log( "ready!" );
    $("div.alert").hide();
});
</script>
</div>
