<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../css/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<title>lokkbox - super secret super secure file sharing</title>
</head>

<body>
<span id="pageonehidden"><a href="/about">&hearts;</a></span>
<div class="fullscreen-bg">
    <video loop muted autoplay poster="static/vlcsnap.png" class="fullscreen-bg__video">
        <source src="../img/649014782.mp4" type="video/mp4">
    </video>
</div>
<div id="soft-hug">
	<div id="title-head"><h1>lokkbox.</h1></div>
	<div id="content">
	<h2><a href="/join">Wanna be an Alpha Tester? Sign up here.</a></h2>
	<h2><a href="/login">Already Alpha? Login here.</a></h2>
	<!-- <h2><a href="/fileuploader">Upload a file</a></h2></div> -->
</div>
 </body>
</html>
