<head>
<link rel="stylesheet" href="../css/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<title>lokkbox - super secret super secure file sharing</title>
</head>
<body>
    {{#if session.name}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <div id="nav-bar" class="nav"><a href="/">lokkbox</a><span id="welcome">
    <h3><a href="/logout">Logout</a></h3>
    </span></div>
    <div id="navigation">
        <img src="../img/photo3.jpeg" width="100 x 100">
            <ul>
                <li><a href="/fileuploader">Upload</a></li>
                <li><a href="/dashboard">Your Files</a></li>
                <li><a href="/friends">Friends</a></li>
                <li><a href="/account">Settings</a></li>
            </ul>
        </div>
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label class="menu-hamb" for="nav-trigger"></label>
    <!-- <div id="pageonehidden"><a href="/about">&hearts;</a></div> -->
    {{else}}
    {{/if}}

{{{body}}}
</body>
