
<div id="navbar"><a href="/">lokkbox</a></div>

<div id="login"><h2>Hello Alpha. Login below.</h2>
<form action="/submit_login" method="POST">
  <p>
    <label for="name">Username</label><br>
    <input name="username" type="text" size="60">
  </p>
  <p>
    <label for="password">Password</label><br>
    <input type="text" size="60" name="password">
  </p>
   <!--  <button type="submit" class="button" name="submit">login</button> -->
    <input class="button" name="submit" id="submit" tabindex="5" value="enter" type="submit">
  </p></form>


<br><h2>Or check out the <a href="/dashboard">demo page</a></h2>
</div>
</body>
</html>
