<div id="site-wrap">
    <header>
        <h1>Your Collections</h1>
    </header>
    <div id="user-collections">
		<div id="row1">
			<a href=#><img src="img/001.jpg" width="293"></a>
			<a href=#><img src="img/002.jpg" width="293"></a>
			<a href=#><img src="img/003.jpg" width="293"></a>
		</div>
		<div id="row2">
			<a href=#><img src="img/004.jpg" width="293"></a>
			<a href=#><img src="img/005.jpg" width="293"></a>
			<a href=#><img src="img/006.jpg" width="293"></a>
		</div>
		<div id="row3">
			<a href=#><img src="img/013.jpg" width="293"></a>
			<a href=#><img src="img/011.jpg" width="293"></a>
			<a href=#><img src="img/010.jpg" width="293"></a>
		</div>
		<div id="row4">
			<a href=#><img src="img/010.jpg" width="293"></a>
			<a href=#><img src="img/013.jpg" width="293"></a>
			<a href=#><img src="img/011.jpg" width="293"></a>
		</div>
	</div>

</div>
