<div id="navbar"><a href="/">lokkbox</a><span id="welcome">
<h3><a href="#">Logout</a></h3>
</span></div>

<div id="navigation">
<img src="../img/photo3.jpeg" width="100 x 100">
<ul>
<li><a href="#">Your Boxes</a></li>
<li><a href="/userCollections">Your Collections</a></li>
<li><a href=#>Friends</a></li>
<li><a href=#>Favorites</a></li>
<li><a href="/settings">Settings</a></li>
</ul>
</div>
<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label class="menu-hamb" for="nav-trigger"></label>
<div id="site-wrap">
<p>
    This is where your personal collections are!
</p>
</div>
