@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #000;
  color: #eee;
  font-size: 1.2em; }

h1 {
  font-size: 6em;
  color: #fff; }

h2 {
  font-size: 1.2em; }

a {
  color: #ddd;
  font-weight: lighter; }

header {
  text-align: center;
  margin: 20px 0; }

.fullscreen-bg__video {
  margin-top: -80; }

#title-head {
  position: absolute;
  top: 60px;
  margin-left: 10vw;
  text-align: center;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */ }

#content {
  position: absolute;
  top: 260px;
  margin-left: 10vw;
  margin-top: 0;
  font-weight: lighter;
  opacity: 1;
  text-align: center;
  animation: fadein 6s;
  -moz-animation: fadein 6s;
  /* Firefox */
  -webkit-animation: fadein 6s;
  /* Safari and Chrome */ }

#content
a:hover {
  transition: opacity 1.4s ease-in-out;
  -moz-transition: opacity 1.4s ease-in-out;
  -webkit-transition: opacity 1.4s ease-in-out;
  opacity: 0.5; }

#nav-bar {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; }

#nav-bar
a {
  text-decoration: none;
  color: #eee;
  padding-left: 10px; }

#pageonehidden {
  position: absolute;
  top: 10px;
  z-index: 10;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out; }
  #pageonehidden a {
    text-decoration: none;
    color: #eee;
    margin-left: 20px;
    font-weight: bold;
    font-size: 2em; }

#pageonehidden:hover {
  opacity: 1; }

#login {
  margin-top: 5vw;
  margin-left: 35%;
  position: fixed; }

#join-top {
  margin-top: 5%; }

#join {
  margin-left: 35%;
  position: fixed; }

#message {
  list-style: none; }

.btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.form {
  width: 470px;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 10px; }

.form
fieldset {
  border: 0px;
  padding: 0px;
  margin: 0px; }

.form input[type="text"] {
  width: 400px; }

.form input[type="email"] {
  width: 400px; }

.form input[type="password"] {
  width: 400px; }

.form input.birthday {
  width: 60px; }

.form input.birthyear {
  width: 120px; }

.form label {
  color: #ddd;
  font-weight: bold;
  font-size: 14px; }

.form label.month {
  width: 135px; }

input, textarea {
  border: 1px solid rgba(122, 192, 0, 0.15);
  padding: 7px;
  -webkit-border-radius: 5px;
  margin-bottom: 5px; }

.form input:focus, textarea:focus {
  border: 1px solid #ff5400; }

.form .select-style {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(images/select-arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 0px solid #FFF;
  color: #fbf7f7;
  font-size: inherit;
  margin-top: 15px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.join-form input {
  margin-top: -10px; }

input.button {
  margin-top: 5px;
  background: #222;
  display: inline-block;
  padding: 12px 15px 12px 15px;
  color: #fbf7f7;
  text-decoration: none;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 -1px 1px #222;
  border: none;
  position: relative;
  cursor: pointer;
  font-size: 14px; }

.form input.button:hover {
  background-color: #ddd; }

.birthday {
  margin-right: 5px;
  margin-top: 10px; }

#navigation {
  list-style: none;
  background: #1b1b1b;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }
  #navigation a {
    color: #eee; }

#navigation
li {
  list-style: none; }

#navigation
img {
  border-radius: 50px 50px 50px 50px;
  margin: 10px;
  margin-left: 20px; }

#site-wrap {
  min-width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  min-height: 100%;
  background-color: #fcfcfc;
  position: absolute;
  top: 0;
  padding-bottom: 50px;
  left: 0;
  z-index: 1;
  margin-top: 3.2em;
  color: #161616; }
  #site-wrap h1 {
    color: #161616;
    font-size: 1.6em; }
  #site-wrap h2 {
    font-size: 1em;
    color: #161616; }
  #site-wrap body {
    overflow-x: hidden; }

.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

.menu-hamb {
  position: fixed;
  top: 70px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain; }

.nav-trigger:checked + label {
  left: 215px; }

.nav-trigger:checked ~ #site-wrap {
  left: 200px; }

.nav-trigger + label, #site-wrap {
  transition: left 0.3s; }

#welcome {
  position: static;
  padding: 0;
  padding-right: 20px;
  float: right;
  color: #eee;
  z-index: 4;
  font-size: 14px; }
  #welcome a {
    position: static;
    padding: 0;
    padding-right: 20px;
    float: right;
    color: #eee;
    z-index: 4;
    font-size: 14px; }
  #welcome h4 {
    margin-top: 0; }

#collection-header {
  text-align: center; }

#collections {
  margin-left: 10vw; }
  #collections img {
    border: 1px solid #222;
    max-height: 200px;
    max-width: 300px;
    text-align: center; }
  #collections a {
    text-decoration: none; }

.img-info {
  color: #161616; }

.box {
  padding: 10px; }

#video-box {
  border: 1px solid #222;
  background: url("../img/photo2.jpeg");
  background-size: cover;
  height: 200px;
  padding: 0;
  width: 300px;
  /* border-radius:5px; */
  overflow: hidden; }

#overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 45px 0 66px 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease; }

#video-box:hover #overlay {
  opacity: 1; }

#video-symbol {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 96px; }

#user-collections {
  padding-left: 15vw;
  padding-top: 2vw; }

.update-form-content {
  padding-left: 10vw;
  padding-top: 2vw; }

.friend-list li {
  list-style: none; }

.friend {
  padding-left: 30px; }
  .friend .img-info {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px; }
  .friend img {
    border-radius: 50px 50px 50px 50px;
    border: 1px solid #222; }
  .friend a {
    color: #161616; }

#add-friend {
  padding-right: 80px; }

.fa {
  padding: 10px; }

#uploader input {
  padding-left: 10px;
  padding-right: 10px; }

#canvas {
  border: #161616 1px solid;
  margin-top: 10px;
  animation: 3s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden; }

@keyframes fadeIn {
  89% {
    visibility: hidden; }
  100% {
    visibility: visible; } }
@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("img/vlcsnap.png") center center/cover no-repeat; }

  .fullscreen-bg__video {
    display: none; } }

/*# sourceMappingURL=style.css.map */
